#header, #titler{
    background-color: rgb(246, 249, 252);
    border-color: rgb(0, 0, 255);
    border-radius:30px;
    border-style: solid;
    text-align: center;
}

div:hover{
    border-color: rgb(2, 0, 95);
    background-color: rgb(217, 236, 255);
}

hr{
    color:blue;
    width: 90%;
}

.section{
    background-color:rgb(246, 249, 252);
    border-color: blue;
    border-radius:25px;
    border-style: solid;
}

h1,h2,p,ul,ol,a{
    font-family: Arial;
}

h1{
    border-style:solid;
    border-color:rgb(53, 53, 247);
    border-radius: 30px;
    background: white;
}

h2{
    border-style:solid;
    border-color:rgb(53, 53, 247);
    border-radius: 15px;
    width: 50%;
    background-color: white;
    padding-left: 30px;
}

p{
    color: red;
}

table,tr,td,th{
    border-radius: 6px;
    border-color:cornflowerblue;
    border-width: 5px;
}